:root {
  --base-gray-700: #0D0D0D;
  --base-gray-600: #1A1A1A;
  --base-gray-500: #262626;
  --base-gray-400: #333333;
  --base-gray-300: #808080;
  --base-gray-200: #D9D9D9;
  --base-gray-100: #F2F2F2;

  --base-danger: #E25858;

  --blue: #4EA8DE;
  --blue-dark: #1E6F9F;

  --purple: #8284FA;
  --purple-dark: #5E60CE;

  --grayscale-text: #c4c4cc;
}
