<section class="container d-flex flex-column">
  <div class="createTask align-self-end">
    <button class="btn btn-primary d-flex" style="gap: 5px" routerLink="/">
      <span class="material-symbols-outlined" style="color: #fff">
        first_page
      </span>
      Voltar
    </button>
  </div>

  <form [formGroup]="form" (submit)="createTask()">
    <div class="mb-3">
      <label for="title" class="form-label">Titulo <span style="color: #E25858;">*</span></label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        id="title"
        placeholder="Digite o titulo da task"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descrição <span style="color: #E25858;">*</span></label>
      <textarea
        class="form-control"
        formControlName="description"
        id="description"
        placeholder="Digite a descrição da task"
        rows="3"
      ></textarea>
    </div>
    <button type="submit" [disabled]="this.form.invalid" class="btn btn-primary">Criar tarefa</button>
  </form>
</section>
